html, body {
    height: 100%;
}

img {
    max-width: 100% !important; /* This rule is very important, please do not ignore this! */
}


.product-list-pdv::-webkit-scrollbar {
    width: 2.0rem;
}

.product-list-pdv::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.product-list-pdv::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid black;
}

.product-list-pdv {
    overflow-y:scroll;
}
